{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}
    <div class="body_detail">
        <h1>Voici la carte de ton pokémon {{ pokemon.name }}</h1>
    </div>
<div class="body_detail">
    <div class="card-container">
        <div class="card text-white bg-dark mb-3 cardDetail" >
            <div
                    {% if pokemon.shiny %}
                        class="card-header gradient-background"
                    {% else %}
                        class="card-header"
                    {% endif %}
            >
                <p>Nom : {{ pokemon.name }}</p>
            </div>
            <div class="card-body">
                {% set imageName = pokemon.name|replace({' ': ''})|lower ~ '.png' %}
                <img src="{{ asset('assets/images/' ~ imageName) }}" alt="Image du Pokémon" class="card-img-top card-img">
                <h4 class="card-title">Lieu de capture :</h4>
                <p class="card-text">{{ pokemon.catchPlace }}</p>
                <h4 class="card-title">date de la capture :</h4>
                <p class="card-text">il y a {{ pokemon.daysDiff }} jours <span class="small">({{ pokemon.catchDay.format('j F Y')}})</span></p>
                <h4 class="card-title">sa date de création :</h4>
                <p class="card-text">{{ pokemon.level }}</p>
                <h4 class="card-title">Point de vie :</h4>
                <p class="card-text">{{ pokemon.hp }}</p>
                <h4 class="card-title">Type de pokémon :</h4>
                {% for type in pokemon.specie.types %}
                    {% set badgeClass %}
                        {% if  type.name  == 'Électrique' %}
                            electricType
                        {% elseif  type.name  == 'Eau' %}
                            EauType
                        {% elseif  type.name  == 'Feu' %}
                            FeuType
                        {% elseif  type.name  == 'Glace' %}
                            GlaceType
                        {% elseif  type.name  == 'Plante' %}
                            PlanteType
                        {% elseif  type.name  == 'Poison' %}
                            PoisonType
                        {% elseif  type.name  == 'Fée' %}
                            FeeType
                        {% else %}
                            DefaultType
                        {% endif %}
                    {% endset %}
                    <span class="badge rounded-pill {{ badgeClass }}">{{ type.name }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}





