{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}
    <div class="container">
    {% for pokemon in pokemons %}

        <div class="card custom-card">
            <h3 class="card-header"><a href="{{ path('pokedex_details',{'id':pokemon.id}) }}">{{ pokemon.name }}</a></h3>
            <div class="card-body">
                <h5 class="card-title">
                    {% if pokemon.shiny %}
                        Carte brillante
                    {% else %}
                        Carte classique
                    {% endif %}
                </h5>
            </div>
            <div class="cell_img">
                {% set imageName = pokemon.name|replace({' ': ''})|lower ~ '.png' %}
                <img src="{{ asset('assets/images/' ~ imageName) }}" alt="Image du Pokémon" class="card-img-top card-img" >
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Lieu de capture :</strong> {{ pokemon.catchPlace }}</li>
                <li class="list-group-item"><strong>Niveau : </strong>{{ pokemon.level }}</li>
                <li class="list-group-item"><strong>Points de vie : </strong> {{ pokemon.hp }}</li>
                <li class="list-group-item">
                    <strong>Capturé </strong>il y a {{ pokemon.daysDiff }} jours
                </li>
                <li class="list-group-item">
                    le {{ pokemon.catchDay.format('l j F Y')}}
                </li>

            </ul>
        </div>

    {% endfor %}
    </div>
{% endblock %}





