{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}
    <div class="container">
    {% for pokemon in pokemons %}

        <div class="card custom-card">
            <h3 class="card-header">{{ pokemon.name }}</h3>
            <div class="card-body">
                <h5 class="card-title">
                    {% if pokemon.shiny %}
                        Carte brillante
                    {% else %}
                        Carte classique
                    {% endif %}
                </h5>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Lieu de capture :</strong> {{ pokemon.catchPlace }}</li>
                <li class="list-group-item"><strong>Niveau : </strong>{{ pokemon.level }}</li>
                <li class="list-group-item"><strong>Points de vie : </strong> {{ pokemon.hp }}</li>
                <li class="list-group-item">
                    <strong>Capturé </strong>il y a {{ pokemon.daysDiff }} jours
                </li>
                <li class="list-group-item">
                    le {{ pokemon.catchDay.format('l j F Y')}}
                </li>

            </ul>
        </div>

    {% endfor %}
    </div>
{% endblock %}





