<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/images/pikachu_favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        {{ include('common/navigation.html.twig') }}
    </header>
    <body>

        <main>
            {% block body %}{% endblock %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert-{{ label }}"> {{ message }}</div>
                {% endfor %}
            {% endfor %}

        </main>

        <footer>
            <hr>
            <div class="d-flex">
                <div>©Footer du bas de cette magnifique page</div>

            </div>
        </footer>
    </body>
</html>
